/* settings start */
@import url(fonts.css);

:root {
    --RB-700: 'Roboto-Bold';
    --R-It: 'Roboto-Italic';
    --RR-400: 'Roboto-Regular';
    --WB-700: 'WorkSans-Bold';
    --WS-It: 'WorkSans-Italic';
    --WR-400: 'WorkSans-Regular';
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #c3faec, rgb(180, 28, 28));
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #c3faec;
}

/* settings end */
/* **************************************** */
/* header start */
.header__nav {
    background: linear-gradient(100deg, rgb(138, 138, 170), rgb(204, 204, 118));
    padding: 15px 0;
}

.header__nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-logo {
    font-family: var(--WB-700);
    font-weight: 700;
    font-size: 40px;
    color: white;
    cursor: default;
}

.header__nav-list {
    display: flex;
}

.header__nav-item:not(:last-of-type) {
    margin-right: 30px;
}

.header__nav-link {
    font-family: var(--WR-400);
    font-weight: 400;
    color: white;
    font-size: 30px;
    transition: .3s;
}

.header__nav-link:hover {
    color: blue;
}

.header__nav-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.header__contents {
    background: url(../img/header__bg.jpg)no-repeat center center /cover;
    flex-grow: 1;
}

.header__content {
    height: 100vh;
    max-width: 1000px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0 auto;

}

.header__content-items {
    display: flex;
    padding-top: 170px;
}

.header__content-link {
    width: 100%;
    flex: 0 1 25%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--RB-700);
    font-weight: 700;
    color: black;
    font-size: 30px;
    /* text-shadow: 3px 3px 15px white; */
    transition: .3s;
}

.header__content-link span {
    position: relative;
    z-index: 2;
}

.header__content-block {
    padding: 20px;
    font-family: var(--RR-400);
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: white;
    display: none;
    position: relative;
}

.header__content-block::before {
    content: '';
    height: 50px;
    width: 25%;
    position: absolute;
    top: -50px;
}

.header__content-block:nth-child(1) {
    background: rgba(69, 67, 214, 0.800);
    border-radius: 0 15px 15px 15px;
}

.header__content-block:nth-child(1)::before {
    background: rgba(69, 67, 214, 0.800);
    left: 0;
    border-radius: 15px 15px 0 0;
}

.header__content-block:nth-child(2) {
    background: rgba(82, 61, 61, 0.800);
    border-radius: 15px;
}

.header__content-block:nth-child(2)::before {
    background: rgba(82, 61, 61, 0.800);
    left: 25%;
    border-radius: 15px 15px 0 0;
}

.header__content-block:nth-child(3) {
    background: rgba(153, 22, 22, 0.800);
    border-radius: 15px;
}

.header__content-block:nth-child(3)::before {
    background: rgba(153, 22, 22, 0.800);
    left: 50%;
    border-radius: 15px 15px 0 0;
}

.header__content-block:nth-child(4) {
    background: rgba(23, 141, 135, 0.800);
    border-radius: 15px 0 15px 15px;
}

.header__content-block:nth-child(4)::before {
    background: rgba(23, 141, 135, 0.800);
    left: 75%;
    border-radius: 15px 15px 0 0;
}

.header__content-block:target {
    display: block;
}

.header__block-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
}

.header__block-img {
    max-width: 300px;
    border-radius: 10px;
}

/* header end */
/* *********************************** */
/* main start */
.main {
    background: #c3faec;
    padding-bottom: 60px;
}

.audio__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.audio__list-item {
    width: 500px;
    padding-top: 50px;
}

.audio__list-title {
    font-family: var(--RB-700);
    font-weight: 700;
    color: teal;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.audio__list-text {
    font-family: var(--R-It);
    font-size: 16px;
    color: rgb(68, 64, 64);
    padding: 15px 0 5px 0;
    padding-left: 30px;
}

audio {
    width: 100%;
    margin: 0 5px;
}

.main__foto-gallery {
    margin: 100px auto;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    text-align: center;
}

.main__fotos {
    overflow: hidden;
    width: 100%;
}

.main__gallery-img {
    width: 100%;
    height: 100%;
    transition: .3s;
}

.main__gallery-img:hover {
    transform: scale(1.1);
}

.main__fotos:nth-child(40n + 1) {
    grid-column: span 2;
    grid-row: span 2;
}

.main__fotos:nth-child(40n + 4) {
    grid-column: span 4;
    grid-row: span 4;
}

.main__fotos:nth-child(40n + 8) {
    grid-column: span 3;
    grid-row: span 3;
}

.main__fotos:nth-child(40n + 13) {
    grid-column: span 2;
    grid-row: span 2;
}

.main__fotos:nth-child(40n + 23) {
    grid-column: span 3;
    grid-row: span 3;
}

.main__fotos:nth-child(40n + 34) {
    grid-column: span 2;
    grid-row: span 2;
}

.main-clips {
    text-align: center;
}

.main__clips-title {
    font-family: var(--RB-700);
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
    color: rgb(126, 147, 150);
    text-shadow: 2px 2px 5px black;
    cursor: default;
}

.main__clips-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main__clips-item {
    max-width: 20%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.main__clips-img {
    width: 100%;
    display: block;
    transition: .8s;
    transform: rotate(0deg);

}

.main__clips-img:hover {
    transform: rotate(-180deg);
}

.main__clips-text {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-family: var(--RB-700);
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px black;
    transition: .3s;
}

.main__clips-text:hover {
    color: red;
}
/* main end */
/* *****************************  */
/* footer start */
.footer {
    background: linear-gradient(100deg, rgb(204, 204, 118), rgb(138, 138, 170));
    padding: 15px 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}


.footer__qr {
    height: 40px;
    border-radius: 5px;
    opacity: .8;
}
/* footer end */
/* ************************************************* *
/* popup start */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: .8s;
    z-index: 5;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup__content{
    opacity: 1;
    transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    z-index: 9;
}
.popup__content {
    background: rgb(139, 161, 154);
    color: black;
    max-width: 800px;
    padding: 30px;
    position: relative;
    border-radius: 25px;
    transition: .8s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {   
    position: absolute;
    right: 20px;
    top: 20px;
    color: rgb(32, 39, 41);
    text-decoration: none;

}

.popup__img {
    border-radius: 15px;
}
/* popup end */
/* ********************************* */
/* media start */
@media (max-width: 1055px) {
    .header__content-items {
        padding-top: 110px;
    }

    .audio__list {
        justify-content: center;
    }

    .audio__list-item {
        margin: 0 20px;
    }
}

@media (max-width: 750px) {
    .header__content-items {
        padding-top: 80px;
    }

    .main__clips-text {
        font-size: 15px;
    }
}

@media (max-width: 680px) {
    .header__content-items {
        padding-top: 30px;
    }

    .header__block-info {
        flex-direction: column;
    }

    .header__block-img {
        max-width: 200px;
    }

    .main__clips-text {
        font-size: 12px;
    }
}

@media (max-width: 550px) {
    .header__nav-list {
        display: none;
    }

    .header__nav-icon {
        display: block;
    }

    .header__content-link {
        font-size: 20px;
    }

    .header__content-block {
        font-size: 12px;
    }

    .main__foto-gallery {
        margin: 50px auto;
    }

    .main__clips-title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .main__clips-items {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .main__clips-item {
        margin-top: 20px;
    }
}

@media (max-width: 400px) {
    .header__block-img {
        max-width: 150px;
    }

    .header__content-link {
        font-size: 15px;
    }

    .main__clips-text {
        font-size: 8px;
    }    
}